@model IEnumerable<Vendedor>

@{
    ViewBag.Title = "Index";
}

<style>
    #editIcon:hover {
        cursor: pointer;
    }

    #deleteIcon:hover {
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2 class="mt-3">Vendedores</h2>
        <a asp-controller="Vendedor" asp-action="Adicionar" class="btn btn-primary mt-4 mb-4">Adicionar vendedor</a>
    </div>
    <table class="table table-striped mt-2">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Documento)</th>
            <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
            <th>@Html.DisplayNameFor(model => model.Salario)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Documento)</td>
                <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Salario)</td>
                <td><a asp-controller="Vendedor" asp-action="Editar" asp-route-id="@item.IdVendedor"><i id="editIcon" class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a asp-controller="Vendedor" asp-action="Deletar" asp-route-id="@item.IdVendedor"><i id="deleteIcon" class="fa-solid fa-trash"></a></td>
            </tr>
        }
    </table>
</div>
